.pageHeader {
  text-align: center;
  margin-bottom: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.shop {
  border: 2px dotted rgb(0, 0, 0);
  width: 30%;
  padding-left: 5px;
}

/*
 {
 text-decoration: none;
 color: darkblue; 
}
*/